<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your user name" [(ngModel)]="model.username" #username="ngModel" required>
          <mat-error *ngIf="!model.username">You must enter a value</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="model.password"
            #password="ngModel" required>
          <mat-error *ngIf="!model.password">You must enter a value</mat-error>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="loading || !model.username || !model.password" mat-raised-button color="primary" (click)="login()">LOGIN</button>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </mat-card-actions>
  </mat-card>
</div>